<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <meta charset="UTF-8">
</head>

<body class="center">
  <div class="request-chooser-container">
    <div class="request-chooser-title">
      Главное меню
    </div>
    <div class="request-chooser-list">
      {% if authorized %}
      <a class="generic-button center request-chooser-logout" href="{{ url_for('auth_bp.logout') }}">Выход -
        {{ authorized }}</a>

        {% if internal %}
          <a class="generic-button center" href="{{ url_for('clients_bp.index') }}">Клиенты</a>
          <a class="generic-button center" href="/accounts_placeholder">Счета</a>
          <a class="generic-button center" href="{{ url_for('reports_bp.index') }}">Отчеты</a>
          <a class="generic-button center" href="{{ url_for('requests_bp.index') }}">Запросы</a>
        {% else %}
          <a class="generic-button center" href="{{ url_for('external_bp.index') }}">Меню клиента</a>
        {% endif %}
      {% else %}
      <a class="generic-button center" href="{{ url_for('auth_bp.index') }}">Авторизация</a>
      {% endif %}
    </div>
    <div class="request-chooser-footer"></div>
  </div>
</body>

</html>