@import url("nord.css");

html,
body {
  background-color: var(--nord0);
  color: var(--nord6);
  height: 100%;
  margin: 0;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.request-chooser-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 4em 0em;
  grid-template-areas:
    "."
    "."
    ".";
}

.request-chooser-title {
  text-align: center;
  font-size: 2em;
}

.request-chooser-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.request-chooser-list-item {
  background-color: var(--nord3);
  color: var(--nord6);
  text-decoration: none;
  border-radius: 5px;
  margin: 0 10px;
  padding: 15px;
}


/* form { */
/* width: 80%; */
/* margin: 5px auto; */
/* display: flex; */
/* justify-content: space-around; */
/* } */

/* label { */
/* display: block; */
/* margin: 10px 0 5px; */
/* font-weight: bold; */
/* } */

/* textarea { */
/* width: 100%; */
/* padding: 10px; */
/* border: 1px solid #ddd; */
/* border-radius: 4px; */
/* box-sizing: border-box; */
/* } */

/* input[type="submit"] { */
/* padding: 10px 15px; */
/* background-color: #f2f2f2; */
/* border: 1px solid #ddd; */
/* border-radius: 4px; */
/* cursor: pointer; */
/* transition: background-color 0.3s; */
/* } */

/* input[type="submit"]:hover { */
/* background-color: #e2e2e2; */
/* } */

/* table { */
/* width: 80%; */
/* margin: 20px auto; */
/* border-collapse: collapse; */
/* } */

/* th, */
/* td { */
/* padding: 10px; */
/* text-align: left; */
/* border: 1px solid #ddd; */
/* } */

/* th { */
/* background-color: #f2f2f2; */
/* } */

/* a { */
/* color: inherit; */
/* text-decoration: inherit; */
/* } */

/* .link-container { */
/* display: flex; */
/* justify-content: center; */
/* align-items: center; */
/* } */

/* .link-text { */
/* padding: 20px; */
/* margin: 10px; */
/* background-color: #e2e2e2; */
/* } */