@import url("nord.css");

html,
body {
  background-color: var(--nord0);
  color: var(--nord6);
  height: 100%;
  margin: 0;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.request-chooser-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 4em 0em;
  grid-template-areas:
    "."
    "."
    ".";
}

.request-chooser-title {
  text-align: center;
  font-size: 2em;
}

.request-chooser-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.request-chooser-logout {
  background-color: var(--nord11) !IMPORTANT;
}

.auth-form-submit {
  background-color: var(--nord12) !IMPORTANT;
  color: var(--nord6) !IMPORTANT;
}

.auth-footer {
  background-color: var(--nord11);
  text-align: center;
  padding: 15px;
  border-radius: 7px;
  font-size: 15px;
}

.generic-message-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.generic-message-text {
  font-size: 2em;
  margin-bottom: 2em;
}

.generic-table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.generic-table-table {
  color: var(--nord4);
  background: var(--nord1);
  margin: 2rem 0;
}

.generic-table-table th {
  position: sticky;
  top: 0px;
  padding: 15px 35px;
  border-left: 1px solid var(--nord2);
  border-bottom: 1px solid var(--nord2);
  background: var(--nord2);
}

.generic-table-table tr {
  text-align: center;
  padding-left: 20px;
}

.generic-table-table td {
  padding: 15px 35px;
  background: var(--nord0);
}

.generic-table-link {
  width: min-content;
}

.generic-form-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2em 0em;
}

.generic-form-title-container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  font-size: 2em;
}

.generic-form-title-back {
  text-decoration: inherit;
  color: var(--nord12);
}

.generic-form-title {
  text-align: center;
}

.generic-form {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-between;
  min-width: 400px;
  min-height: 300px;
  border-radius: 15px;
  background-color: var(--nord1);
  padding: 1em;
}

.generic-form-field {
  margin: 10px;
  padding: 15px;
  border: none;
  border-radius: 7px;
  font-size: 20px;
  background-color: var(--nord4);
}

.generic-form-field::placeholder {
  text-align: center;
}

.generic-button {
  text-decoration: inherit;
  background-color: var(--nord3);
  color: var(--nord6);
  padding: 15px;
  border-radius: 5px;
  margin: 0 10px;
  text-align: center;
}

/* form { */
/* width: 80%; */
/* margin: 5px auto; */
/* display: flex; */
/* justify-content: space-around; */
/* } */

/* label { */
/* display: block; */
/* margin: 10px 0 5px; */
/* font-weight: bold; */
/* } */

/* textarea { */
/* width: 100%; */
/* padding: 10px; */
/* border: 1px solid #ddd; */
/* border-radius: 4px; */
/* box-sizing: border-box; */
/* } */

/* input[type="submit"] { */
/* padding: 10px 15px; */
/* background-color: #f2f2f2; */
/* border: 1px solid #ddd; */
/* border-radius: 4px; */
/* cursor: pointer; */
/* transition: background-color 0.3s; */
/* } */

/* input[type="submit"]:hover { */
/* background-color: #e2e2e2; */
/* } */

/* table { */
/* width: 80%; */
/* margin: 20px auto; */
/* border-collapse: collapse; */
/* } */

/* th, */
/* td { */
/* padding: 10px; */
/* text-align: left; */
/* border: 1px solid #ddd; */
/* } */

/* th { */
/* background-color: #f2f2f2; */
/* } */

/* a { */
/* color: inherit; */
/* text-decoration: inherit; */
/* } */

/* .link-container { */
/* display: flex; */
/* justify-content: center; */
/* align-items: center; */
/* } */

/* .link-text { */
/* padding: 20px; */
/* margin: 10px; */
/* background-color: #e2e2e2; */
/* } */