<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <meta charset="UTF-8">
</head>

<body class="center">
  <div class="request-chooser-container">
    <div class="request-chooser-title">
      Главное меню
    </div>
    <div class="request-chooser-list">
      {% if authorized %}
      <a class="request-chooser-list-item center request-chooser-logout" href="{{ url_for('auth_bp.logout') }}">Выход -
        {{ authorized }}</a>
      {% else %}
      <a class="request-chooser-list-item center" href="{{ url_for('auth_bp.index') }}">Авторизация</a>
      {% endif %}
      <a class="request-chooser-list-item center" href="/clients_placeholder">Клиенты</a>
      <a class="request-chooser-list-item center" href="/accounts_placeholder">Счета</a>
      <a class="request-chooser-list-item center" href="/reps_placeholder">Отчёты</a>
      <a class="request-chooser-list-item center" href="/reqs_placeholder">Запросы</a>
    </div>
    <div class="request-chooser-footer"></div>
  </div>
</body>

</html>